ion-content {
    
    --background: url('/assets/Background2.png') no-repeat center/cover fixed;
    --color: #ffffff;

}

ion-header {

    --ion-background-color: #262748;
    text-align: center;
    border-color: red;

}

ion-title {

    background-color: #262748;
    color: #ffffff;
    font-weight: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

#backButton {

  --color: #ffffff; 
  float:right; 
  //text-decoration: underline; 
  //font-size: 101%;
  text-transform: none !important;
  --background: #262748;
  padding-top: 1%;
  font-weight: inherit;
  --ripple-color: #ebbc11;
  --color-activated: #ffffff;

}



