<ion-content> <!-- used to be full screen, further testing needed -->

  <ion-item class ="close-fake" lines = "none" text-center>
      <ion-button (click)="close()" fill="clear" color="light">
        <ion-icon name="close" slot="start"></ion-icon>
        Back
      </ion-button>

      <!--ion-button (click) = "zoom(true)" fill="clear" color="light">
        <ion-icon name="add" slot="start"></ion-icon>
        in
      </ion-button>

      <ion-button (click) = "zoom(false)" fill="clear" color="light">
        <ion-icon name="remove" slot="start"></ion-icon>
        out
      </ion-button-->
  </ion-item>

  <pinch-zoom>
   <img src = {{getSrc()}}>
  </pinch-zoom>    
  
</ion-content>